{% extends "layout.html" %}

{%block content%}
<br/>
<h1 class="text-center" style="color: #000000;"><strong>Log In</strong></h1>
<form method="post" action=""> 
    {{ form.hidden_tag() }}
    <div class="row justify-content-center">
        <div class="col-4">

                <div class="form-group">
                    <label class="form-label mt-4" style="color: #000000;">Email ID:</label>
                    {{ form.email(class='form-control', style="color: #000000;") }}
                    {% for error in form.email.errors %}
                        <span class="text-danger"><small>{{ error }}</small></span>
                    {% endfor %}
                </div>
                
                <div class="form-group">
                    <label class="form-label mt-4" style="color: #000000;">Password:</label>
                    {{ form.password(class='form-control', style="color: #000000;") }}
                    {% for error in form.password.errors %}
                        <span class="text-danger"><small>{{ error }}</small></span>
                    {% endfor %}
                </div>
    
                <div class="form-group form-check mt-4">
                    {{form.remember(class='form-check-input', style="color: #000000;") }}
                    <label class="form-check-label" style="color: #000000;">Remember me</label>
                </div>
                
                <div class="mt-4">
                    {{ form.submit(class='btn btn-light', style='width:100%;font-weight:bold;') }}
                </div>
        </div>
    </div>
</form>
<br/>
<br/>
<br/>
<div class="row justify-content-center">
    <div class="col-4">
        <p style="color: #000000;"> Don't have an account?</p>
        <a class='btn btn-dark', style='width:100%;font-weight:bold;' href="{{url_for('accountsweb.register')}}">Register</a>
    </div>
</div>
<br/>

{%endblock%}