{% extends "layout.html" %}

{% block content%}
<br/> 
<h3 class="text-center" style="color: #000000;">{{MyHeading}}</h3>
<form method="post" action=""> 
    {{ form.hidden_tag() }}
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="form-group mt-4">
                {{ form.content(class='form-control', rows=15, style='background-color:#FFFFFF;color:#000000') }}
                {% for error in form.content.errors %}
                    <span class="text-danger"><small>{{ error }}</small></span>
                {% endfor %}
            </div>

            <div class="mt-4">
                {{ form.submit(class='btn table-success', style='width:100%;font-weight:bold;') }}
            </div>

        </div>
    </div>
</form>
<br/>
<br/>
{% endblock %}