{% extends "layout.html "%}



{% block content %}
<br/> 

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: #000000;">Delete this Note?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="$('#exampleModal').addClass('modal fade')"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" onclick="$('#exampleModal').addClass('modal fade')">No</button>
        <a type="button" class="btn btn-dark" style='font-weight:bold;' href="{{url_for('notesweb.deletenote', note_id = noteobj.id)}}">Yes, Sure</a>
      </div>
    </div>
  </div>
</div>

<br/>

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card shadow-lg rounded text-black mb-10" style="background-color: #FFFFFF; min-height: 20rem;">
            <div class="card-body text-black">
              <p class="card-text" style="color: #000000;"> {{noteobj.content}}</p>
            </div>
            <div class="card-footer">
                <small style="color: #000000;">Last updated: {{noteobj.date_modified.strftime("%c")}}</small>
            </div> 
          </div>      
    </div>
</div>
<br/>
<br/>
<div class="row justify-content-center">
  <div class="col-4">
      <a class='btn btn-dark', style='width:100%;font-weight:bold;' href="{{url_for('notesweb.editnote', note_id = noteobj.id)}}"><strong>Edit</strong></a>
  </div>
</div>
<br/>
<br/>
<div class="row justify-content-center">
  <div class="col-4">
      <!-- <a class='btn btn-dark', style='width:100%;font-weight:bold;' href="{{url_for('notesweb.deletenote', note_id = noteobj.id)}}"><strong>Delete</strong></a> -->
      <a class='btn btn-dark', style='width:100%;font-weight:bold;' onclick="$('#exampleModal').removeClass('modal fade')"><strong>Delete</strong></a>
  </div>
</div>
<br/>


{% endblock %}

